.manage-specialty-container {
    padding: 0 15px;
    .ms-title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 10px 0;
    }

    .add-new-specialty {
        .btn-save-new-specialty {
            border: none;
            outline: none;
            background-color: rgb(201, 114, 57);
            color: #fff;
            font-size: 16px;
            padding: 5px 8px;
            margin: 15px 0;
            min-width: 75px;
        }
    }
}
