.detail-specialty-container {
    .description-specialty {
        padding: 10px 120px;
        h1,
        h2,
        h3 {
            font-size: 16px;
            font-weight: 600;
        }
    }

    .content-specialty {
        background-color: #eeee;
        padding: 0 115px;
    }

    .search-sp-doctor {
        select {
            margin-top: 10px;
            font-size: 16px;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 3px;
        }
    }

    .each-doctor {
        display: flex;
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(33, 34, 37, 0.28);
        margin: 10px 0;
        padding: 15px;
        border-radius: 8px;
        .dt-content-left {
            width: 55%;
        }

        .dt-content-right {
            flex: 1;
            .doctor-extra-infor-container {
                padding-left: 0 !important;
                border-left: none !important;
            }
        }
    }
}
