.doctor-detail-container {
    .intro-doctor {
        display: flex;
        padding: 10px 150px;
        .content-left {
            width: 20%;

            background: center center no-repeat;
            background-size: contain;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 0 15px;
        }

        .content-right {
            flex: 1;
            padding-left: 10px;

            .up {
                font-size: 20px;
                font-weight: 600;
            }
            .down {
                padding-top: 10px;
            }
        }
    }

    .schedule-doctor {
        display: flex;
        margin: 0 150px;
        min-height: 260px;

        .content-left {
            width: 55%;
        }

        .content-right {
            flex: 1;
        }
    }

    .detail-infor-doctor {
        padding: 15px 150px;
        background-color: #f9f9f9;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #ccc;

        img {
            width: 100%;
        }
    }
}
