.doctor-schedule-container {
    .all-schedule {
        padding: 15px 15px 15px 0;
        select {
            background: transparent;
            border: none;
            color: #337ab7;
            border-bottom: 1px solid #999;
            border-radius: 0;
            font-weight: bold;
            outline: none;

            &:focus {
                border: none;
                border-bottom: 1px solid #999;
            }
        }
    }

    .all-available-time {
        .text-calender {
            text-transform: uppercase;
            font-size: 14px;
            color: #333;
            font-weight: 600;
            padding: 0;
            margin-bottom: 10px;

            i {
                margin-right: 4px;
                font-size: 14px;
            }
        }

        .time-content {
            .time-content-bnts {
                display: flex;
                gap: 4px;
                flex-wrap: wrap;

                button {
                    background-color: #fff8ae;
                    padding: 10px 7px;
                    outline: none;
                    border: none;
                    color: #333;
                    font-weight: bold;

                    &:hover {
                        box-shadow: 0px 0px 0px 2px #33b0e3 inset;
                    }
                }

                .btn-vi {
                    min-width: 138px;
                }
                .btn-en {
                    min-width: 148px;
                }
            }

            .no-schedule {
                font-size: 16px;
                color: rgb(255, 78, 78);
                font-style: italic;
            }

            .book-free {
                font-size: 14px;
                color: #333;
                margin-top: 10px;
            }
        }
    }
}
